<a href="https://colab.research.google.com/github/ezequiasue/Student_30003749_BigData/blob/master/TPC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabalho de Casa 1
1) Implement in python a function i_index_gen() that given as input a set of documents (an array of strings) returns an inverted index based. Clean the text from punctuations chars or upper letters.

2) Make a second function that returns the same i_index based on a pandas DataFrame without indexes

3) Make a third function that returns the same i_index based on a pandas DataFrame using indexes

4) Compare the performance for the three methods using %%time (you should increase your text example) and take your conclusions how lists, DataFrames (with or without indexes) manage searches

Don't forget to

present all results in a python notebook;
Comment your code;
Good Luck



#'Oracle', 'Java','SqlServer', 'Delphi', 'Python', 'Android', 'Oracle'

In [0]:
import pandas as pd

lista = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50,]

#sort() method accepts a reverse parameter as an optional argument.Setting reverse=True sorts the list in the descending order
lista.sort(reverse=True)


A = "Texto de teste para contar as vezes que aparecem palavras de teste,"
B = A.split(" ")
C = pd.Series(B) #Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).
C.groupby(C).size()

# the .upper() method on a string converts all of the characters to uppercase
A = A.replace(",","").replace(".","").upper()
B = A.split(" ")

In [33]:
print(A)
print(B)
print(C)

print(lista)

TEXTO DE TESTE PARA CONTAR AS VEZES QUE APARECEM PALAVRAS DE TESTE
['TEXTO', 'DE', 'TESTE', 'PARA', 'CONTAR', 'AS', 'VEZES', 'QUE', 'APARECEM', 'PALAVRAS', 'DE', 'TESTE']
0        Texto
1           de
2        teste
3         para
4       contar
5           as
6        vezes
7          que
8     aparecem
9     palavras
10          de
11      teste,
dtype: object
[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]